# See http://help.github.com/ignore-files/ for more about ignoring files.

# ----------------------------
# Global
# ----------------------------
node_modules/
dist/
.env
*.log
*.tmp
.DS_Store
Thumbs.db

# ----------------------------
# Visual Studio / .NET Core
# ----------------------------
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET specific
appsettings.Development.json
appsettings.Local.json

# ----------------------------
# Angular / Frontend
# ----------------------------
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/cache/
/frontend/.vscode/
.angular/
.vscode/
coverage/

# ----------------------------
# OS / Tooling
# ----------------------------
.idea/
*.swp
*.vsidx
