<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light comma">Customer</a>
                <a class="navbar-brand red comma">'</a>
                <a class="navbar-brand text-light">s Paradise</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" routerLink="vouchers/show-vouchers">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" routerLink="privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="navbar-nav flex-grow-1">
                        <li *ngIf="!isLoggedIn" class="nav-item">
                            <a class="nav-link text-light" routerLink="/auth/signup">Signup</a>
                        </li>
                        <li *ngIf="!isLoggedIn" class="nav-item">
                            <a class="nav-link text-light" routerLink="/auth/login">Login</a>
                        </li>
                        <li *ngIf="isLoggedIn" class="nav-item">
                            <a class="nav-link text-light" (click)="logout()">Logout</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link text-light" routerLink="#">Logout</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>